{% extends 'frontend/base.html' %}

{% block content %}
    <h1 class="page-title">Лента публикаций</h1>

    {% for post in posts %}
        <div class="card">
            {% if post.image %}
                <img class="post-image"
                     src="{{ post.image.url }}"
                     alt="Изображение"
                     onclick="openModal('{{ post.image.url }}')">
            {% endif %}

            <div class="card-content">
                <div class="meta">
                    Автор: {{ post.author.username }} | Дата: {{ post.created_at }}
                </div>

                <h2 class="post-title">{{ post.title }}</h2>

                <p class="post-text">{{ post.text|truncatewords:35 }}</p>

                <div class="stats">
                    <span class="heart">❤️ {{ post.likes.count }}</span>
                    <span>💬 {{ post.comments.count }}</span>
                </div>

                <a class="open-link" href="{% url 'post_detail' post.id %}">
                    Открыть пост
                </a>
            </div>
        </div>
    {% empty %}
        <div class="auth-card">
            <p>Постов пока нет.</p>
        </div>
    {% endfor %}
{% endblock %}